<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.repository.biz.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.car.domain.Picture" >

    
      <!--WARNING - @mbg.generated-->
   
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>


  <select id="findImgByVehiclId" resultMap="BaseResultMap">
    select * from t_vehicle_pic where vehicle_id = #{vehicleId}
    <if test="type!=null and type > 0">
       and type = #{type}
    </if>
  </select>

</mapper>