<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加入spring注解扫描-->
    <context:component-scan base-package="com.car.service,com.car.mp.config" />

    <!--强烈建议注意这里的classpath后面，冒号前面的这个*-->
    <context:property-placeholder location="classpath*:*.properties"/>

    <!--基础数据库配置-->
    <import resource="spring-datasource-base.xml"/>
    <!--业务数据库配置-->
    <import resource="spring-datasource-biz.xml"/>

</beans>